@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	vertical-align: baseline;
	list-style-type: none;
	display: inline;
}
html , body{
	position: absolute;
	width: 100%;
	display: block;
	left: auto;
	right: auto;
}

#landing {
	margin: auto;
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #882097;
	display: block;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

#inner {
	display: inline-block;
	position: relative;
	right: -50%;
	overflow-x: visible;
	overflow-y: visible;
}

#landing #inner img {
	margin: 0 auto;
	position: relative;
	left: -50%;
	overflow-x: hidden;
	overflow-y: hidden;
}
#navbar {
	width: 100%;
	display: block;
	height: 60px;
	background-color: #BEBEBE;
	padding: 0;
	position: relative;
}
#navbar ul {
	padding: 0;
	margin: 0;
	float: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 60px;
	line-height: 60px;
	display: table;
}
#navbar ul li {
	margin-top: 0;
	margin-right: 20px;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0;
	display: inline-block;
	width: 63px;
	text-align: center;
	height: 60px;
}
#navbar ul li a {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	display: block;
}
#navbar #headlogo  {
	height: 60px;
	text-align: center;
	left: 30px;
	position: relative;
	line-height: 60px;
}
.main {
	position: relative;
	width: 80%;
	max-width: 1080px;
	min-width: 600px;
	background-color: #EEEEEE;
	left: auto;
	right: auto;
	display: block;	
}
.primary {
	float: left;
	width: 45%;
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	right: auto;
	position: relative;
	left: auto;
}
.secondary {
	float: right;
	width: 35%;
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	left: auto;
	right: auto;
}
.secondary ul  {
	list-style-type: armenian;
}
.secondary ul li {
	list-style-type: disc;
	display: list-item;
	padding-bottom: 10px;
}
